streamlit
pandas
ta
kiteconnect
gspread
oauth2client
openpyxl
requests

# Charting
matplotlib
plotly

# PDF generation
fpdf
pdfkit

# Enhanced Streamlit UI components
streamlit-option-menu
