streamlit
pandas
ta
kiteconnect
gspread
oauth2client
openpyxl
requests
streamlit-autorefresh
fyers-apiv3
fyers-apiv3==3.1.7

# Optional charting
matplotlib
plotly

# Optional PDF generation
fpdf
pdfkit

# Optional UI enhancements
streamlit-option-menu


